<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 style="margin-bottom: 0" class="page-header">Bem vindo, {{auth.nome}}</h3>
            <p style="margin: 5px 0 5px 0;" ng-if="auth.ultimoAcesso">
            	<small class="text-muted"><i class="fa fa-clock-o"></i> 
            		Último acesso {{auth.ultimoAcesso | date:'dd/MM/yyyy HH:mm' }}
            	</small>
			</p>
        </div>
       
        <div class="content">     
	        <ul class="btn-home-list">
	        	<li> 
		            <a ui-sref="processo" class="btn btn-primary center-block btn-home">
	              		<i class="fa fa-gavel"></i><span>Processos</span>
	            	</a>
	          	</li>
	          	<li> 
		            <a ui-sref="quadroProcessos" class="btn btn-primary center-block btn-home">
	              		<i class="fa fa-th"></i><span>Quadro de Processos</span>
	            	</a>
	          	</li>
	          	<li> 
	            	<a ui-sref="logAcao" class="btn btn-primary center-block btn-home">
	              		<i class="fa fa-search"></i><span>Consulta de Log</span>
	            	</a>
	          	</li>	 	     	                 
	        </ul>      
    	</div> 
    </div>

    <div class="row">
    	<div class="col-lg-12">
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-dashboard fa-fw"></i> Dashboard
				</div>
				<div class="panel-body">
			    	<div class="col-md-8" style="padding-left: 0;">
						<div class="col-md-5">
						    <div class="table-responsive">
						        <table class="table table-bordered table-hover table-striped">
						            <thead>
						                <tr>
						                    <th>#</th>
						                    <th>Valor</th>
						                    <th>Probabilidade</th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr ng-repeat="processo in processos">
						                    <td>{{processo.numero}}</td>
						                    <td>{{processo.valorCausa | currency }}</td>
						                    <td>
						                    	{{processo.descricaoProbabilidadePerda}}
						                    </td>
						                </tr>		                
						            </tbody>
						        </table>
						        <div class="alert alert-info text-center" style="font-size: 17px;">
			                       Total <strong>{{ctrl.totalValorCausa | currency }}</strong>
			                    </div>
						    </div>
						</div>
						<div class="col-md-7 graph-container graph-container-valor-causa-processos-probabilidade-perda">	
							<div 
								bar-chart 
								bar-data=ctrl.valorCausaprocessosPorProbabilidade
								bar-hover-callback=ctrl.formatarMonetario
								bar-x='label'
								bar-y='["value"]'
								bar-labels='["Total"]'
								id="bar-example">
							</div>
						</div>
					</div>
					<div class="col-md-4 graph-container graph-container-numero-processos-probabilidade-perda">	
						<div
							donut-chart
							donut-data=ctrl.numeroProcessosPorProbabilidade
							donut-label-color='"#000000"' 
							donut-background-color='"#ffffff"'
							donut-colors=ctrl.coresGrafico>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>